* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0f1421f7;
    background: linear-gradient(to right, #141313, #363433);
}

header {
    margin-bottom: 5px; 
    text-align: center;
    margin-top: -20px;
}

header h1 {
    color: white; 
    font-size: 32px;
    margin-top: -50px; 
}

.logo {
    text-align: center;
    margin-bottom: 30px; 
}

.logo img {
    max-width: 100%;
    height: auto;  
    width: auto;      
    max-height: 100px; 
}

.container {
    width: 100%;
    max-width: 400px;
    height: auto; 
    padding: 30px 20px; 
    background-color: #aeacaf;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(237, 230, 230, 0.2);
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}

.input label {
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
    color: black;
}

.input input {
    width: 100%;
    max-width: 290px;
    padding: 10px; 
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid black;
    transition: border 0.3s;
    color: #000000;
    margin-bottom: 15px; 
}

button {
    width: 100%; 
    max-width: 280px; 
    padding: 10px; 
    font-size: 18px;
    background-color: rgb(229, 9, 20);
    color: #e3dddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s , transform 0.2s;
    margin-top: 20px; 
}

button:hover {
    background-color: rgb(193, 17, 25);
    transform: scale(1.03);
}

.signup {
    margin-top: 25px; 
    font-size: 15px;
    color: #000000;
}

.signup a {
    color: #0d65c3;
    text-decoration:none;
}

.signup a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .container {
        padding: 20px 15px; 
    }

    button {
        font-size: 15px; 
    }
}